# mac garbage
*DS_Store*

# ----- garbage --------------------
*~*
*~
*.core
*__pycache__*
*.out
*.o
# ----------------------------------

# ---- important --------
*.log
*.key
*.pem
*.crt
*.pub
*password
*netsurf*
*config/mpv/watch_later
*w3m*
*token*
*cookie*
*cache*
# ----------------------------------

# junk
*glib*
*wireshark*
*shada*
*ridium*
*config/wal
*config/keys
*config/QtProject.conf
*config/GIMP*
*config/menus
*config/GIMP*
*config/neofetch
*config/pcmanfm
*config/QtProject*
*user-dirs.dirs
*config/gconf
*config/libfm
*config/enchant
*dconf*
*autostart*
*menus*
*torbrowser*
*tor-browser*
*torbrowser-launcher*
*TorBrowser-Data*
*ranger/bookmarks
*ranger/plugins
*chrom*
*firefox*
*GIMP/2.9/action-history
*GIMP/2.9/colorrc
*GIMP/2.9/controllerrc
*GIMP/2.9/tags.xml
*Trolltech*
*config/htop
*config/pcmanfm
*config/libfm
*ranger/tagged
*dconf*
*mozilla*
*deluge*
*ibreoffice*
*google-chrome*
*xfce*
*gnome*
*kde*
*chromium*
*firefox*
*mozilla*
*google-chrome*
*chrome*
*surf*
*/obs-studio/*
*/obs/*
*blender
*.bak
*.cache
*.tmp
*.temp
*TODO*
*FAQ*
*unity3d
*vim/.netrwhist
*vim/log
*config/JetBrains
*config/xfce4
*Thunar*
*geany*
*cataclysm-dda/debug.log
*config/weatherd/location
themes/current
*config/pulse
*/pavucontrol.ini
*config/user-dirs.locale
*config/syncd
*config/syncthing

.config/ranger/plugins/ranger_devicons

