# ----------------------------------
# vi needs to stop this nonsense
*~*
*~
# ----------------------------------

*gtk-2.0*
*gtk-3.0*
*glib*
*wireshark*
*shada*
*ridium*
*w3m*
*config/wal
*config/keys
*config/QtProject.conf
*config/GIMP*
*config/mpv/watch_later
*config/menus
*config/GIMP*
*config/neofetch
*config/pcmanfm
*config/QtProject*
*user-dirs.dirs
*config/gconf
*config/libfm
*config/enchant
*vim-plug*
*token*
*dconf*
*autostart*
*menus*
*torbrowser*
*tor-browser*
*torbrowser-launcher*
*TorBrowser-Data*
*ranger/bookmarks
*ranger/plugins
*chrom*
*firefox*
*GIMP/2.9/action-history
*GIMP/2.9/colorrc
*GIMP/2.9/controllerrc
*GIMP/2.9/tags.xml
*Trolltech*
*config/htop
*config/pcmanfm
*config/libfm
*ranger/tagged
*dconf*
*mozilla*
*discord*
*deluge*
*iscord*
*ibreoffice*
*google-chrome*
*xfce*
*gnome*
*kde*
*chromium*
*firefox*
*mozilla*
*google-chrome*
*chrome*
*surf*
*cookie*
*cache*
*obs-studio*
*obs*
*.o*
*blender
*.o
*.out
*.bak
*.cache
*.tmp
*.temp
*__pycache__*
*TODO*
*FAQ*
*krunker*
*unity3d
*vim/.netrwhist
*vim/log
*config/JetBrains
*config/xfce4
*Thunar*
*.core
*geany*
