# this has now been moved to its own repo
# put I keep it in the same ~/etc folder
# as my dots.
*suckless-tools*
*suckless*

# ----------------------------------
# vi needs to stop this nonsense
*~*
*~
# ----------------------------------

config/gtk-2.0
config/gtk-3.0
config/glib*

config/wal
config/neofetch
conifg/youtube-viewer
config/xbindkeys
config/xbindkeysrc
config/keys
config/tint2
config/wireshark
config/QtProject.conf
config/youtube-viewer
config/GIMP*
config/mpv/watch_later
config/nvim/shada/main.shada

*bookmarks*

w3m
w3m/bookmarks
w3m/history
w3m/cookies
.w3m/bookmarks
.w3m/history
.w3m/cookies

.config/Discline/token
config/Discline/token
*token*

*abiword*
*dconf*
config/autostart
.config/autostart
*mimeapps*
*menus*

*xpad*
*menus*
*pulse*
*torbrowser*
*tor*
*tor-browser*
*torbrowser-launcher*

.config/ranger/bookmarks
config/ranger/bookmarks

*chrom*

*firefox*
*signal*
*Signal*
*apulse*

.config/GIMP


.config/GIMP/2.9/action-history
.config/GIMP/2.9/colorrc
.config/GIMP/2.9/controllerrc
.config/GIMP/2.9/tags.xml

config/GIMP/2.9/action-history
config/GIMP/2.9/colorrc
config/GIMP/2.9/controllerrc
config/GIMP/2.9/tags.xml

config/Trolltech*
config/Thunar

config/lman*
config/htop
config/redshift*

config/pcmanfm
config/libfm
config/ranger/tagged

*dconf*
*pavucontrol.ini*
*update-notifier*
*mozilla*
*slack*
*Slack*
*discord*
*deluge*
*enchant*
*bless*
*Discord*
*ibreoffice*
*pavucontrol*
*audacious*
*enchant*
*google-chrome*
*lxterminal*
*parcellite*
*skypeforlinux*
*transmission*
*transmission-cli*
*xfce4*
*gnome*

*chromium*
*firefox*
*mozilla*
*google-chrome*
*chrome*

*mpd*

startpage/style.css
startpage/style.css.map
startpage/backup.style.css
startpage/style.css.backup
startpage/.sass_cache

.surf/cookies.txt
.surf/history.txt
.surf/cache
.surf/certificates
*cookie*
*history*
*cache*

*obs-studio*
*obs*
config/obs*
*.o*

config/blender

*.o
*.out
*.bak
*.cache
*.tmp
*.temp
*__pycache__
*TODO*
*FAQ*
vim/.netrwhist
