/* Xft.dpi: 144 */
Xft.dpi: 120
/* Xft.dpi: 96 */
Xft.antialias: true
Xft.autohint: true
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
Xcursor.theme: plan9
Xcursor.size: 16

/* spleen = default openbsd font */
*font: Spleen

#include "/home/mitch/.cache/wal/colors.Xresources"
/* #include "/home/mitch/src/dots/themes/color-nostalgia.Xresources" */
