peer_exchange = yes
dht = auto
throttle.max_peers.seed.set = 0

protocol.encryption.set = allow_incoming,try_outgoing,enable_retry
protocol.pex.set = yes

method.insert = cfg.basedir,  private|const|string, (cat,"/home/mitch/.torrents/")
method.insert = cfg.download, private|const|string, (cat,(cfg.basedir),"downloading/")
method.insert = cfg.logs,     private|const|string, (cat,(cfg.basedir),"log/")
method.insert = cfg.logfile,  private|const|string, (cat,(cfg.logs),"rtorrent-",(system.time),".log")
method.insert = cfg.session,  private|const|string, (cat,(cfg.basedir),".session/")
method.insert = cfg.watch,    private|const|string, (cat,(cfg.basedir),"watch/")

# move files to ~/.torrents/completed on finish
system.method.set_key = event.download.finished,move_complete,"execute=mv,-u,$d.get_base_path=,~/.torrents/completed/ ;d.set_directory=~/.torrents/completed/"

# fixes bug when hash completes successfully but still says pieces missing
pieces.hash.on_completion.set = no

## -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
## ignore below
## -*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*
execute.throw = sh, -c, (cat,\
    "mkdir -p \"",(cfg.download),"\" ",\
    "\"",(cfg.logs),"\" ",\
    "\"",(cfg.session),"\" ",\
    "\"",(cfg.watch),"/load\" ",\
    "\"",(cfg.watch),"/start\" ")
session.path.set = (cat, (cfg.session))
directory.default.set = (cat, (cfg.download))
log.execute = (cat, (cfg.logs), "execute.log")
execute.nothrow = sh, -c, (cat, "echo >",\
    (session.path), "rtorrent.pid", " ", (system.pid))
encoding.add = utf8
system.umask.set = 0027
system.cwd.set = (directory.default)
