.story-share-instapaper-icon {
    display:inline-block;
    background-image:none !important;
    -webkit-mask-image: url('chrome-extension://__MSG_@@extension_id__/instapaper_twitter_mask.png');
    background-size:16px 15px !important;
    background-color:#009ede;
    background-repeat:no-repeat;
    width:16px;
    height:15px;
    margin-left:13px;
    margin-top:10px;
}

.story-share-instapaper {
    margin-left:4px;
    top:-3px;
    margin-bottom:6px;
    position:relative;
}

article .tooltip-story-share {
    margin-top:-120px !important;
}

