body {
    background-color:#F5F5F5;
    font-family:'Helvetica', sans-serif;
}

a {
    color:rgb(100,100,100);
}

.main {
    width:650px;
    padding-top:30px;
    margin-left:auto;
    margin-right:auto;
}

.header {
    width:152px;
    margin-left:auto;
    margin-right:auto;
}

.title:after {
    clear:both;
}

.options {
    margin-top:30px;
    background-color:white;
    border-radius:3px;
    min-height:300px;
    padding:10px 40px 15px 40px;
}

.options_header {
    font-size:22px;
    color:rgb(50,50,50);
    border-bottom:1px solid rgb(150,150,150);
    padding-bottom:20px;
    padding-top:20px;
}

.option {
    margin-top:30px;
    padding-bottom:30px;
    border-bottom:1px solid rgb(150,150,150);
}

.option:last-of-type {
    border-bottom:0px;
}

.option_title {
    font-size:16px;
    color:rgb(20,20,20);
    font-weight:bold;
    float:left;
    width:280px;
}

.option_content {
    float:left;
    width:270px;
    color:rgb(100,100,100);
}

.option_content ul {
    list-style:none;
    margin:0;
    padding:0;
}

.option_content ul li {
    margin-bottom:15px;
    font-size:16px;
}

.option_content ul li:last-of-type {
    margin-bottom:0px;
}

.option_content ul li span {
    position:relative;
    top:2px;
    padding-left:5px;
}

.copyright {
    text-align:center;
    font-size:14px;
    color:rgb(50,50,50);
    margin-top:30px;
}
