*~*
*.tar.*
*.tgz
*.o
*.out
*.bak
*.bk
*.tmp
*.temp
*.rej
*.orig
*\:w
*.pem*
*.key*
*.crt*

# default junk
etc/portage/bashrc
etc/portage/bashrc.d
etc/portage/profile
# dont hard copy these, use eselect-repository
etc/portage/repos.conf
# these are from GentooLTO, dont edit
etc/portage/make.profile
etc/portage/make.conf.lto
etc/portage/make.conf.lto.defines
etc/portage/package.cflags
etc/portage/savedconfig
etc/portage/repos
*._cfg000*
