* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: ShureTechMono Nerd Font Mono;
  font-size: 14px;
}

window#waybar {
  background-color: #181825;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 6px 18px;
  margin: 6px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.focused {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#cpu,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#clock,
#idle_inhibitor,
#tray {
  border-radius: 4px;
  margin: 6px 3px;
  padding: 6px 12px;
  background-color: #1e1e2e;
  color: #181825;
}

#custom-power {
  margin-right: 6px;
}

#memory {
  font-size: 16px;
  background-color: #fab387;
}

#cpu {
  font-size: 16px;
  background-color: #F7D4B3;
}

#battery {
  background-color: #f38ba8;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  color: #FFFF00;
}

#battery.charging {
  background-color: #a6e3a1;
  color: #181825;
}

#backlight {
  background-color: #fab387;
}

#pulseaudio {
  font-size: 16px;
  background-color: #f9e2af;
}

#network {
  background-color: #94e2d5;
  padding-right: 17px;
}

#clock {
  background-color: #cba6f7;
}

#idle_inhibitor {
  font-size: 20px;
  background-color: #F6F8FA;
}

#custom-power {
  background-color: #f2cdcd;
}

tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

