#!/bin/sh

export SEPARATOR='  '
export DATE_FORMAT='+%a %d %I:%M %p'

# if wireless interface exists, prefer this -- if not, use wired
# this is meant to be an easy catch all between machines,
# but you may need to edit this
case $(ifconfig) in
    *wlan0*)
        export INTERFACE=wlan0
        ;;
    *wlp3s0*)
        export INTERFACE=wlp3s0
        ;;
    # 10gbe
    *enp11s0*)
        export INTERFACE=enp11s0
        ;;
    *eth0*)
        export INTERFACE=eth0
        ;;
    *enp3s0*)
        export INTERFACE=enp3s0
esac

export ENABLED_MODULES=\
"""
openvpn
traffic
ssid
memory
battery
volume
date
"""
