#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Joplin
Version=1.0.214
Comment=open source note taking and to-do application
Icon=/home/<USER>/.local/share/icons/joplin.png
Exec=joplin
Terminal=false
Categories=Utility;TextEditor;
