# ******************************************************
# DESKTOP ----  Ryzen 7 9800X3D / Nvidia 4090
# ******************************************************

MAKEOPTS="-j17"

VIDEO_CARDS="nvidia"

# get these from package "app-portage/cpuid2cpuflags"
CPU_USE_FLAGS="aes avx avx2 avx512_bf16 avx512_bitalg avx512_vbmi2 avx512_vnni avx512_vp2intersect avx512_vpopcntdq avx512bw avx512cd avx512dq avx512f avx512ifma avx512vbmi avx512vl avx_vnni bmi1 bmi2 f16c fma3 mmx mmxext pclmul popcnt rdrand sha sse sse2 sse3 sse4_1 sse4_2 sse4a ssse3 vpclmulqdq"

ACCEPT_KEYWORDS="~amd64"
GRUB_PLATFORMS="efi-64"

INPUT_DEVICES="libinput joystick"

# vim:ft=config
